@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  @apply bg-telegram-bg text-telegram-text antialiased;
}

#__next {
  width: 100%;
  min-height: 100vh;
}

